@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');


*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #23262DFF;
   font-family: 'Poppins', sans-serif;
}

.container {
   width: 1050px;
   margin: 0 auto;
   padding-top: 30px;
}

h1, h2, h3, h4 {
   font-family: 'Poppins', sans-serif;
   color: #fff;
}
p {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   color: #828282;
}
ul li {
  list-style: none;
}
a {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   color: #828282;
}
a {
  text-decoration: none;
}
/* header */
.navbar-logo {
   width: 111px;
   height: 36px;
}

.navbar-info {
   column-gap: 20px;
   
}
.navbar-info i {
   font-size: 25px;
   color: #fff;
}
.navbar-info a {
   font-size: 14px;
}

/* Hero */

.hero-content {
   position: relative;
   height: 450px;
   position: relative;
   background-image: url("../imgs/home.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   box-sizing: border-box;
   /*transform: translate()*/
}
.hero-info {
   column-gap: 19px;
   position: absolute;
   top: 30%;
   left: 20%;
}
.hero-info h1 {
   font-size: 52px;
   font-weight: 700;
}
.hero-info .span-yellow {
   width: 100px;
   height: 150px;
   font-size: 88px;
   background-color: yellow;
   opacity: .6;
}
.hero-info a {
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   line-height: 22px;
   color: #fff;
   border-bottom: 1px solid #fff;
}
.icons {
   display: inline-block;
   position: absolute;
   bottom: 0;
   right: 0;
   font-size: 34px;
   color: #fff;
   text-align: center;
}
.color-wehyt {
   width: 87px;
   height: 87px;
   padding-top: 20px;
   background-color: #34373EFF;
   margin-bottom: 2px;
}
.color-black {
   width: 87px;
   height: 87px;
   padding-top: 20px;
   background-color: #23262DFF;
   margin-bottom: 2px;
}

.fexid {
   position: fixed;
   right: 0;
   bottom: 80px;  
   width: 120px;
   z-index: 100;
}
.column-gap {
   column-gap: 8px;
}
a span {
   position: relative;
   font-size: 14px;
}
.layerbom a {
   position: relative;
   text-align: center;
   background-color: #fff;
   color: #000;
   margin-bottom: 16px;
   height: 54px;
}
.buy a {
   background-color: #232323FF;
   color: #fff;
    height: 54px;
}
a i {
   font-size: 22px;
}

/* site-content */
#site-info {
   padding: 50px 0;
}

.site-content {
   column-gap: 60px;
}
.working::before {
   content: "";
   height: 165px;
   width: 67px;
   display: block;
   position: relative;
   bottom: 0;
   left: 30px;
   border: 10px solid #393C42;
   border-right: none;
}
.working::after {
   content: "";
   height: 165px;
   width: 67px;
   display: block;
   position: relative;
   bottom: 0;
   left: -40px;
   border: 10px solid #393C42;
   border-left: none;
}
.working h3 {
   margin-right: 10px;
   font-size: 80px;
   font-weight: 600;
   color: #cee002;
}
.working p {
   width: 91px;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   color: #fff;
}
.site-since h4 {
   font-size: 15px;
   font-weight: 500;
   color: #828282;
   margin-bottom: 20px;
}
.site-since p {
   width: 191px;
   font-size: 20px;
   font-weight: 500;
   line-height: 34px;
   color: #fff;
}
.site-lorem p {
   width: 360px;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   .color: #828282;
   margin-bottom: 12px;
}
.site-lorem a {
   font-size: 14px;
   font-weight: 500;
   line-height: 50px;
   color: rgba(147, 147, 147, 0.7);
   border-bottom: 1px solid rgba(147, 147, 147, 0.7);
   transition: all .5s ease:
}
.site-lorem a:hover {
   color: #828282;
}

/* site-image */
#site-image {
   padding: 50px 0;
}

.content-imgs {
   column-gap: 25px;
}
.design h2 {
   width: 150px;
   font-size: 22px;
   font-weight: 500;
   color: #fff;
}
.design {
   display: inline-block;
   position: relative;
   vertical-align: middle;
   overflow: hidden;
}
.relative {
   position: absolute;
   top: 30px;
   left: 30px;
}
.relative i {
   position: absolute;
   top: 220px;
   width: 35px;
   height: 35px;
   font-size: 25px;
   line-height: 35px;
   border-radius: 50%;
   text-align: center;
   background-color: #fff;
    transition-duration: 1s;
   color: #333;
}
.design img {
   width: 245px;
   height: 320px;
   opacity: .8;
   overflow: hidden;
   object-fit: cover;
   vertical-align: middle;
   transition-duration: 3.5s;
}
.design:hover img {
   transform: scale(1.4);
   opacity: 0.2;
}
.design:hover .display-none  {
   opacity: 1;
}
.design:hover .icon {
   opacity: 0;
}
.display-none {
   position: absolute;
   bottom: 45px;
   left: 20px;
   opacity: 0;
   transition-duration: 1s;
}
.display-none p {
   width: 180px;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   color: #ccc;
   margin-bottom: 15px;
}
.color-yellow {
   font-size: 13px;
   font-weight: 500;
   color: yellow;
}

.lorem-content {
   column-gap: 50px;
   padding-top: 80px;
}
.lorem-title {
   width: 400px;
   margin-right: 90px;
   font-size: 22px;
   font-weight: 400;
   line-height: 40px;
   color: #fff;
}
.owner-info h4 {
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 18px;
}
.owner-info p {
   width: 200px;
   font-size: 14px;
   font-weight: 400;
   line-height: 25px;
   color: #828282;
}


/* IMAGE-INFO */
#video-youtube {
  padding-bottom: 50px;
}

.vedio-info {
   width: 1045px;
   height: 600px;
   position: relative;
   background-image: url("https://litho.themezaa.com/wp-content/uploads/2020/06/architecture-img-14.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   opacity: .8;
}
.vedio-info .center-video i {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 80px;
   color: yellow;
   opacity: 1;
}
.wieght {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 550px;
   height: 150px;
   background-color:  #23262DFF;
   opacity: 1;
}
.video-title {
   position: absolute;
   bottom: 0;
   right: 70px;
   font-size: 40px;
   font-weight: 500;
   line-height: 48px;
   color: #fff;
}
.border-bottom {
   border-bottom: 1px solid #CEE002FF;
   color: #CEE002FF;
}

/* PARTNER */
#partner {
   padding: 80px 20px;
}
.partner-logo ul li img {
   opacity: 0.6;
}
.partner-logo ul li a:hover img {
   color: #fff;
}
.partner-list {
   column-gap: 40px;
}


.line {
   padding: 130px 0 40px 0;
   column-gap: 30px;
}
.line-right {
   width: 435px;
   height: 0.1px;
   background-color: #ccc;
}
.line h3 {
   font-size: 15px;
   font-weight: 600;
   color: #cee002;
}
.line-left {
   width: 445px;
   height: 0.1px;
   background-color: #ccc;
}


/* hause-img */
#hauses {
   padding: 0 0 100px 0px;
}

.hauses-content {
   column-gap: 22px;
   text-align: center;
}
.hause {
   position: relative;
}
.hause-img {
   width: 250px;
   height: 300px;
    margin-bottom: 18px;
   position: relative;
   overflow: hidden;
}
.hause-img img {
   width: 250px;
   height: 300px;
   margin-bottom: 12px;
   z-index: 10;
   transition-duration: .5s;
}
.hause-img:hover img {
   transform: translateY(-10px)
}
.hause-img:hover .strel {
   opacity: 1;
}
/*.hause:hover .hover {
   visibility: visible;
}*/
.hover {
   position: absolute;
   top: 0;
   left: 0;
   width: 250px;
   height: 300px;
   background-color: yellow;
   z-index: 15;
   opacity: 0.3;
   visibility: hidden;
}
.hause h3 {
   text-transform: uppercase;
   margin-bottom: 10px;
   font-size: 15px;
   font-weight: 500;
   color: #fff;
}
.hause p {
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 400;
   color: #939393;
}

.strel {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 25px;
   line-height: 40px;
   text-align: center;
   background-color: #fff;
   border-radius: 50%;
   color: #000;
   z-index: 20;
   opacity: 0;
   transition-duration: 1.5s;
}



/* map */
#map {
   padding: 50px 0;
}
.map-image {
   display: flex;
   align-items: center;
   column-gap: 30px;
   width: 1050px;
   height: 515px;
   background-color: #1F2128FF;
}
.map-image h3 {
   font-size: 200px;
   font-weight: 600;
   color: rgba(206, 224, 2, 0.2);
}
.mep-info h2 {
   width: 400px;
   font-size: 32px;
   font-weight: 500;
   line-height: 40px;
   margin-bottom: 20px;
   color: #fff;
}
.mep-info p {
   width: 260px;
   font-size: 15px;
   font-weight: 400;
   line-height: 30px;
   margin-bottom: 20px;
   color: #828282;
}
.mep-info .border-bottom {
   display: inline-block;
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   color: rgba(147, 147, 147, 0.7);
   border-bottom: 2px solid rgba(147, 147,147, 0.7);
}
.map-image img {
   position: relative;
   left: -90px;
   width: 404px;
   height: 228px;
}


/* time-img */
#data-time {
   padding: 10px 0;
}

.data-time-content {
   column-gap: 27px;
}
.time-content {
   position: relative;
   width: 245px;
   height: 260px;
   overflow: hidden;
}
.time-content img {
   width: 245px;
   height: 260px;
   opacity: 0.6;
   transition-duration: 2s;
}
.time-content:hover img {
   transform: scale(1.1);
   opacity: 0.3;
}
.time-content:hover .time-info a {
   background-color: #fff;
   color: #000;
}
.time-info {
   position: absolute;
   left: 50px;
   bottom: 0;
}
.time-info h3 {
   width: 130px;
   font-size: 20px;
   font-weight: 500;
   line-height: 33px;
   color: #fff;
}
.time-info p {
   font-size: 13px;
   font-weight: 500;
   line-height: 22px;
   color: rgba(255, 255,255,0.6);
   margin-bottom: 10px;
}
.time-info a {
   padding: 5px 13px;
   font-size: 12px;
   font-weight: 600;
   line-height: 22px;
   border-radius: 2px;
   background-color: rgba(23, 23, 23, .75);
   color: #fff;
   transition-duration: 1s;
}



.seperate-content {
   text-align: center;
   padding: 100px 0;
   border-bottom: 1px solid #fff;
}
.seperate-content h1 {
   font-size: 25px;
   font-weight: 600;
   color: #fff;
}
.seperate-content a {
   font-size: 25px;
   font-weight: 600;
   color: #cee002;
   border-bottom: 0.3px solid #cee002;
}


/* footer */
#footer {
   padding: 50px 0;
}

.footer-content img {
   width: 111px;
   height: 36px;
}
.footer-info a {
   transition-duration: .5s;
}
.footer-info p {
   font-size: 14px;
   font-weight: 400;
   line-height: 25px;
   color: #828282;
}
.footer-info a:hover {
   color: #cee002;
}
.logo-item a {
   margin-left: 18px;
   font-size: 10px;
   color: #fff;
   transition-duration: .5s;
}
.logo-item a:hover {
   color: #828282;
}
